.list-item {
  cursor: pointer;
  background-color: var(--debug-shell-paper);
  white-space: nowrap;
  overflow: 'hidden';
  padding: 10px !important;

  &:hover {
    background-color: var(--debug-shell-paper-hover);
  }

  &-selected {
    background-color: var(--debug-shell-paper-selected);

    &:hover {
      background-color: var(--debug-shell-paper-selected-hover);
    }
  }
}
